@custom-variant dark (&:is(.dark *, [data-theme='dark'] *));

:root {
  --background: oklch(100% 0 0deg);
  --foreground: oklch(14.5% 0 0deg);
  --card: oklch(96.5% 0.005 265deg);
  --card-foreground: oklch(14.5% 0 0deg);
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(14.5% 0 0deg);
  --primary: oklch(20.5% 0 0deg);
  --primary-foreground: oklch(98.5% 0 0deg);
  --secondary: oklch(97% 0 0deg);
  --secondary-foreground: oklch(20.5% 0 0deg);
  --muted: oklch(97% 0 0deg);
  --muted-foreground: oklch(55.6% 0 0deg);
  --accent: oklch(97% 0 0deg);
  --accent-foreground: oklch(20.5% 0 0deg);
  --destructive: oklch(57.7% 0.245 27.325deg);
  --destructive-foreground: oklch(57.7% 0.245 27.325deg);
  --border: oklch(92.2% 0 0deg);
  --input: oklch(92.2% 0 0deg);
  --ring: oklch(70.8% 0 0deg);
  --chart-1: oklch(64.6% 0.222 41.116deg);
  --chart-2: oklch(60% 0.118 184.704deg);
  --chart-3: oklch(39.8% 0.07 227.392deg);
  --chart-4: oklch(82.8% 0.189 84.429deg);
  --chart-5: oklch(76.9% 0.188 70.08deg);
  --radius: 0.625rem;
  --sidebar: oklch(98.5% 0 0deg);
  --sidebar-foreground: oklch(14.5% 0 0deg);
  --sidebar-primary: oklch(20.5% 0 0deg);
  --sidebar-primary-foreground: oklch(98.5% 0 0deg);
  --sidebar-accent: oklch(97% 0 0deg);
  --sidebar-accent-foreground: oklch(20.5% 0 0deg);
  --sidebar-border: oklch(92.2% 0 0deg);
  --sidebar-ring: oklch(70.8% 0 0deg);
  --success: oklch(78% 0.08 200deg);
  --warning: oklch(89% 0.1 75deg);
  --error: oklch(75% 0.15 25deg);
}

[data-theme='dark'],
.dark {
  --background: oklch(14.5% 0 0deg);
  --foreground: oklch(98.5% 0 0deg);
  --card: oklch(17% 0 0deg);
  --card-foreground: oklch(98.5% 0 0deg);
  --popover: oklch(14.5% 0 0deg);
  --popover-foreground: oklch(98.5% 0 0deg);
  --primary: oklch(98.5% 0 0deg);
  --primary-foreground: oklch(20.5% 0 0deg);
  --secondary: oklch(26.9% 0 0deg);
  --secondary-foreground: oklch(98.5% 0 0deg);
  --muted: oklch(26.9% 0 0deg);
  --muted-foreground: oklch(70.8% 0 0deg);
  --accent: oklch(26.9% 0 0deg);
  --accent-foreground: oklch(98.5% 0 0deg);
  --destructive: oklch(39.6% 0.141 25.723deg);
  --destructive-foreground: oklch(63.7% 0.237 25.331deg);
  --border: oklch(26.9% 0 0deg);
  --input: oklch(26.9% 0 0deg);
  --ring: oklch(43.9% 0 0deg);
  --chart-1: oklch(48.8% 0.243 264.376deg);
  --chart-2: oklch(69.6% 0.17 162.48deg);
  --chart-3: oklch(76.9% 0.188 70.08deg);
  --chart-4: oklch(62.7% 0.265 303.9deg);
  --chart-5: oklch(64.5% 0.246 16.439deg);
  --sidebar: oklch(20.5% 0 0deg);
  --sidebar-foreground: oklch(98.5% 0 0deg);
  --sidebar-primary: oklch(48.8% 0.243 264.376deg);
  --sidebar-primary-foreground: oklch(98.5% 0 0deg);
  --sidebar-accent: oklch(26.9% 0 0deg);
  --sidebar-accent-foreground: oklch(98.5% 0 0deg);
  --sidebar-border: oklch(26.9% 0 0deg);
  --sidebar-ring: oklch(43.9% 0 0deg);
  --success: oklch(28% 0.1 200deg);
  --warning: oklch(35% 0.08 70deg);
  --error: oklch(45% 0.1 25deg);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);

  --color-primary-50: oklch(0.924 0.036 285.7);
  --color-primary-100: oklch(0.849 0.075 283.03);
  --color-primary-200: oklch(0.699 0.158 280.32);
  --color-primary-300: oklch(0.554 0.24 273.31);
  --color-primary-400: oklch(0.404 0.25 265.05);
  --color-primary-500: oklch(0.241 0.149 265.1);
  --color-primary-600: oklch(0.221 0.136 265.36);
  --color-primary-700: oklch(0.201 0.124 264.97);
  --color-primary-800: oklch(0.176 0.108 265.35);
  --color-primary-900: oklch(0.138 0.086 264.19);
  --color-primary-950: oklch(0.11 0.068 264.19);

  --color-primary: var(--color-primary-500);

  --color-secondary-50: oklch(0.957 0.02 277);
  --color-secondary-100: oklch(0.916 0.04 273.36);
  --color-secondary-200: oklch(0.831 0.084 271.81);
  --color-secondary-300: oklch(0.736 0.134 268.84);
  --color-secondary-400: oklch(0.652 0.183 263.52);
  --color-secondary-500: oklch(0.568 0.21 258.31);
  --color-secondary-600: oklch(0.48 0.178 258.41);
  --color-secondary-700: oklch(0.394 0.146 258.33);
  --color-secondary-800: oklch(0.316 0.116 258.21);
  --color-secondary-900: oklch(0.227 0.083 257.72);
  --color-secondary-950: oklch(0.181 0.066 257.72);

  --color-secondary: var(--color-secondary-500);

  --color-neutral-50: #eeeeee;
  --color-neutral-100: oklch(0.895 0.001 18.65);
  --color-neutral-200: oklch(0.803 0.002 17.85);
  --color-neutral-300: oklch(0.699 0.005 17.54);
  --color-neutral-400: oklch(0.595 0.007 17.51);
  --color-neutral-500: oklch(0.497 0.006 17.51);
  --color-neutral-600: oklch(0.424 0.005 17.51);
  --color-neutral-700: oklch(0.355 0.004 17.51);
  --color-neutral-800: oklch(0.284 0.004 17.53);
  --color-neutral-900: oklch(0.207 0.003 17.53);
  --color-neutral-950: oklch(0.165 0.002 17.5);

  --color-neutral: var(--color-neutral-500);

  --color-dark-50: #f6f6f6;
  --color-dark-100: #e7e7e7;
  --color-dark-200: #d1d1d1;
  --color-dark-300: #b0b0b0;
  --color-dark-400: #888888;
  --color-dark-500: #6d6d6d;
  --color-dark-600: #5d5d5d;
  --color-dark-700: #4f4f4f;
  --color-dark-800: #454545;
  --color-dark-900: #3d3d3d;
  --color-dark-950: #121212;

  --color-light-50: #ffffff;
  --color-light-100: #efefef;
  --color-light-200: #dcdcdc;
  --color-light-300: #bdbdbd;
  --color-light-400: #989898;
  --color-light-500: #7c7c7c;
  --color-light-600: #656565;
  --color-light-700: #525252;
  --color-light-800: #464646;
  --color-light-900: #3d3d3d;
  --color-light-950: #292929;
}
